{% extends 'base.html' %}
{% load static %}
{% block content %}

<div>
    <h1 class="card-title">{{place.trip.title}}</h1>
    <h4 class="card-title">{{place.name}}</h4>
        <p>{{ place.content | safe }}</p>
    <br>
    {% for p in photos %}
        <img src="{{p.images.url}}">
    {% endfor %}
</div>
<a href="{% url 'add_images' place.id %}" class="btn btn-primary btn-md">Add Images</a>
<a href="{% url 'delete_place' place.id %}" class="btn btn-primary btn-md">Delete</a>
<div class="FieldWrapper">
    <h4>Add images</h4>
    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token%}
        <h4>Place: </h4>{{ form.place }}
        <h4>Pictures: </h4>{{ form.images }}
        <input type="submit" value="Save" class="btn btn-primary">
    </form>
</div>
 
{% endblock content %}