{% extends 'base.html' %}

{% block content %}
<div class="list-group">
    <h2>{{ trip }}</h2>
    {% for p in trip.places.all %}
      <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" href="{% url 'place_details' p.id %}">
        <span class="flex-grow-1">{{ p }}</span>
      </a>
    {% endfor %}
</div>
<br>
<br>
{% if trip.owner == request.user %}
<a href="{% url 'delete_trip' trip.id %}" class="btn btn-danger btn-md">Delete Trip</a>
{% endif %}
<a href="{% url 'add_place' %}" class="btn btn-primary btn-md">Add Place</a>
{% endblock content %}